h1 {
font-family: "Comic Sans", sans-serif;
  font-size: 40px;
  line-height: 1.6;
 
}

body {
background-color: #8900F4;
color: white;
text-transform: none;
text-align: right;
}

a{


}